<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Style/style.css" rel="stylesheet" />
</head>
<body ng-app="HealthCalc">
    <div class="container">
        <h2>Health Calculator</h2>
        <div class="jumbotron" ng-controller="HealthController">          
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="weight-input">Weight(kg)</label>
                        <input id="weight-input" type="number" ng-model="weight" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="height-input">Height(cm)</label>
                        <input id="height-input" type="number" ng-model="height" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="age-input">Age</label>

                        <input id="height-input" type="number" ng-model="selectedAge" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="gender-input">Gender</label>
                        <select id="gender-input" ng-model="selectedGender" ng-options="g as g.name for g in gender" class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-8">
                    <div>
                        <label>BMI:</label>
                        <p>{{bmi()}}</p>
                    </div>
                    <div>
                        <label>Healthy range:</label>
                        <p>{{range()}}</p>
                    </div>
                </div>
                <div id="kcal-needs" class="col-md-12">
                    <h3>How much you burn for different activites</h3><br />
                    <ol>
                        <li>Basal metabolic rate: <label>{{need()| kcal}}</label></li>
                        <li>Lite eller ingen motion: <label>{{need() * 1.2 | kcal}}</label></li>
                        <li>Lätt motion (träning 1-3 dagar per vecka): <label>{{need() * 1.375| kcal}}</label></li>
                        <li>Medel motion (träning 3-5 dagar per vecka): <label>{{need() * 1.55 | kcal}}</label></li>
                        <li>Tung motion (träning 6-7 dagar per vecka): <label>{{need() * 1.725| kcal}}</label></li>
                        <li>Mycket tung motion (2 gånger per dag, extra tungt): <label>{{need() * 1.9| kcal}}</label></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <script src="Scripts/jquery-2.1.4.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="app/app.js"></script>
</body>
</html>